{% extends 'dserv/base.html' %}
{% load django_bootstrap5 %}
{% load custom_filters %}

{% block page_header %}
<div class="container text-center">
  <a href="{% url 'dserv:exportar_relatorio_pagamento_csv' mes_pgto.id %}" class="text-decoration-none">
    <p class="fs-1 mt-3 fw-bold link-dark link-opacity-25-hover link-underline-opacity-0">Pagamento - {{ mes_pgto.mes_pgto }}</p>
  </a>
</div>
{% endblock page_header %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-header">
          <h2 class="card-title">Resumo do Mês</h2>
        </div>
        <div class="card-body">
          <p class="card-text">Total de Ordens Cadastradas: <strong>{{ total_ordens_mes }}</strong></p>
          <p class="card-text">Valor Total das Ordens: <strong>R$ {{ valor_total_mes|floatformat:2 }}</strong></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-header">
          <h3 class="card-title">Ordens por Categoria</h3>
        </div>
        <div class="card-body">
          <ul class="list-group">
            {% for categoria in ordens_por_categoria_mes %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ categoria.categoria__categoria|lower|capfirst }}
                <span class="badge bg-primary rounded-pill">{{ categoria.total }}</span>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-header">
          <h3 class="card-title">Ordens por Fiscal</h3>
        </div>
        <div class="card-body">
          <ul class="list-group">
            {% for fiscal in ordens_por_fiscal_mes %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ fiscal.fiscal__nome_fiscal }}
                <span class="badge bg-primary rounded-pill">{{ fiscal.total }}</span>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-header">
          <h3 class="card-title">Ordens Concluídas</h3>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Número</th>
                <th>Ano</th>
                <th>Processo</th>
                <th>Fiscal</th>
                <th>Valor</th>
                <th>Descrição</th>
              </tr>
            </thead>
            <tbody>
              {% for ordem in ordens_detalhadas %}
                <tr>
                  <td>{{ ordem.numero|stringformat:"03d" }}</td>
                  <td>{{ ordem.ano }}</td>
                  <td class="text-nowrap">{{ ordem.processo }}</td>
                  <td>{{ ordem.fiscal__nome_fiscal }}</td>
                  <td class="text-nowrap">{{ ordem.valor_total|default:"0.00"|br_currency }}</td>
                  <td>{{ ordem.descricao }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-header">
          <h3 class="card-title">Empenhos Utilizados</h3>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Número do Empenho</th>
                <th>Valor Utilizado</th>
              </tr>
            </thead>
            <tbody>
              {% for empenho in empenhos_info_mes %}
                <tr>
                  <td>{{ empenho.empenho__numero_emp }}</td>
                  <td>R$ {{ empenho.total_utilizado|default:"0.00"|floatformat:2 }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
