{% extends 'dserv/base.html' %}
{% load django_bootstrap5 %}

{% block page_header %}
<div class="container text-center">
  <p class="fs-1 mt-3 fw-bold">Erro 403 - Acesso Proibido</p>
</div>
{% endblock page_header %}

{% block content %}
<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <p class="lead">Você não tem permissão para acessar esta página.</p>
          <p>Se você acredita que isso é um erro, entre em contato com o administrador do sistema.</p>
          <p>Retorne à <a href="{% url 'dserv:index' %}">página inicial</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
